<header class="main-header">
  <div class="main-header-content">
    <img class="avatar" alt="😮 You looked at the source!" src="/images/zorbash_glitched_optimized.gif"/>
    <h1 class="blog-title">
      <a href="{{ "/" | relLangURL }}">
        {{ if .Site.Params.logoTitle }}
          {{ .Site.Params.logoTitle | safeHTML }}
        {{ else }}
           {{ .Site.Title }}
        {{ end }}
      </a>
    </h1>
    <h2 class="blog-description">{{ .Site.Params.description }}</h2>
  </div>

  <div class="nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <a class="nav- {{ if $currentPage.IsMenuCurrent "main" . }}nav-current{{ end }}" role="presentation" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
    {{ end }}
    <a class="icon-github-circled" href="https://github.com/zorbash"></a>
    <a class="icon-twitter" href="https://twitter.com/_zorbash"></a>
    <a class="subscribe-button icon-rss" href="/index.xml"></a>
  </div>
</header>
